* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff2f92;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  color: white;
  font-weight: bold;
}

.header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1515169067865-5387ec356754")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
}

.pink-text {
  color: #ff5fa2;
  letter-spacing: 3px;
}

.hero h1 {
  font-size: 40px;
  margin: 20px 0;
}

.hero span {
  color: #ff5fa2;
}

.btn {
  background: white;
  color: black;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
}

/* COMMON */
.section {
  padding: 90px 20px;
  text-align: center;
}

.title {
  color: #ff2f92;
  font-size: 36px;
  margin-bottom: 20px;
}

.desc {
  max-width: 700px;
  margin: auto;
}
.header nav {
    display: none;
  }
}
